@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap");

/*  */
/*  */
/*  */
/*  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #5770ff 0%, black 100%);
  font-family: sans-serif;
}

/* ! ამ გვერდისთვის მთავარი ნაწილი */

header h1 {
  color: #fff;
  margin: 3rem 0;
  font-size: 2rem;
  margin-top: 8rem;
}

header,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  position: relative;
  z-index: 10;
}

form .search {
  display: flex;
}

form button,
form input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: #fff;
  outline: none;
}

form button {
  color: #fff;
  background-color: #340436;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 55px;
  width: 60px;
}

form .add-button:hover {
  background-color: #02ba6d;
  color: #340436;
}

form .cleaner-button:hover {
  background-color: #ff0000;
  color: #340436;
}

select {
  appearance: none;
  outline: none;
  border: none;

  width: 10rem;
  padding: 1rem;
  cursor: pointer;
  color: #340436;
}

.select {
  position: relative;
  margin: 1rem;
  overflow: hidden;
}

.select:after {
  content: "\25BC";
  position: absolute;
  background-color: #340436;
  color: #fff;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  pointer-events: none;
}

.select:hover:after {
  background-color: #0088d6;
  color: #340436;
}

.Films-Lists-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Film-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease;
}

.todo li {
  width: 100%;
  padding: 0 0.5rem;
}

.complete-btn,
.trash-btn {
  background-color: #960303;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background-color: #0b8793;
}

.fa-check-circle,
.fa-minus-circle {
  font-size: 1.5rem;
  pointer-events: none;
}

/*! alert css */

.alert-wrapper {
  position: absolute;
  bottom: 10%;
  right: 0;
}

.alert-success,
.alert-warning {
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  width: 25rem;
  text-align: center;
  display: none;
}

.alert-warning {
  background-color: #dc3545;
}

.alert-success {
  background-color: #5ebe92;
}

/* ! წაშლის ჰოვერი */

.fall {
  transform: translateY(8rem);
  opacity: 0;
}

/* ! გადახაზვის უნარი */

.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

/*! scrollball */
/*! scrollball */
/*! scrollball */
/*! scrollball */

html::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(110, 110, 110);
}

/*! navbar */
/*! navbar */
/*! navbar */
/*! navbar */

.navbar {
  height: 85px;
  background-color: #021ba7;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 50px; /*  x და y */
}

.navbar-img {
  width: 150px;
  margin-top: 1px;
}

.menu-container .active,
.menu-container a:hover {
  border-bottom: 2px solid transparent;
  border-color: white;
  border-radius: 5px;
  padding-bottom: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; /* სიის წერტილების დამალვა */
  gap: 30px; /* სიტყვებს შორის დაცილება */
}

.menu-list-item-main a {
  text-decoration: none;
  font-weight: bold;
  color: azure;
}

.menu-list-item-main a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.menu-list-item a {
  text-decoration: none;
  color: rgb(230, 226, 226);
}

.menu-list-item a:hover {
  font-weight: bold;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0px;
}

.profile-icon {
  width: 5px;
}

.profile-icon img {
  width: 20px;
  background: 0px solid white;
  padding: 5px;
  background: white;
  border-radius: 10px;
  margin-left: 10px;
}

.profile-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; /* სიის წერტილების დამალვა */
  gap: 30px; /* სიტყვებს შორის დაცილება */
}

.profile-list-item {
  text-decoration: none;
  color: rgb(230, 226, 226);
}

.profile-list a {
  text-decoration: none;
  color: rgb(230, 226, 226);
}

.profile-list-item a {
  text-decoration: none;
  font-weight: bold;
  color: azure;
}

.profile-list-item a:hover {
  font-weight: bold;
  color: rgb(230, 226, 226);
}

.profile-list-item i {
  display: none;
  /* padding-top: 10px; */
  /* margin-right: 5px; */
}

.sidebar .active i {
  color: #021ba7;
}

/*! drop-down */
/*! drop-down */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  text-decoration: none;
  font-weight: bold;
  color: azure;
  background-color: #021ba7;
  padding: 12px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.dropbtn:hover {
  background-color: #2980b9;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  pointer-events: auto;
  -webkit-animation: transform 0.3s ease;
  animation: transform 0.3s ease;
}

@-webkit-keyframes transform {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transform {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #021ba7;
}

/*! sidebar */
/*! sidebar */

.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  row-gap: 30px; /* იკონები x წრფეზეა და ამიტომ row */
  position: fixed;
  top: 85px;
  z-index: 100;
}

.sidebar i {
  color: white;
  font-size: 20px;
}

.sidebar i:hover {
  color: rgb(183, 184, 184);
}

/* ! footer */
/* ! footer */
/* ! footer */
/* ! footer */

.footer {
  margin-top: 300px;
  background-color: #021ba7;
  color: white;
  text-align: center;
  padding: 5px 0;
}

.footer-links {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 200px;
  -moz-column-gap: 200px;
  column-gap: 200px;
}

.footer-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer p {
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-links a:first-child::first-letter {
  color: #899af7;
}

.footer-links a:first-child {
  font-size: 18px;
}

/*! responsive */
/*! responsive */
/*! responsive */
/*! responsive */

/* პატარა ტელეფონი (მაგალითად, iPhone SE) */
@media (max-width: 320px) {
  html::-webkit-scrollbar {
    width: 1px;
  }
  body {
    font-size: 65%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 40px;
  }
  .navbar .navbar-wrapper {
    padding: 0 1px;
  }
  .navbar-wrapper .navbar-img {
    width: 70px;
  }
  .menu-container .menu-list {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
  .menu-list {
    padding: 0px 0px 0px 0px;
  }
  .profile-list {
    gap: 0;
  }
  body .sidebar {
    width: 20px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 20px;
    top: 40;
  }
  .sidebar a i {
    font-size: 10px;
  }
  .profile-listing ul li {
    padding-right: 15px;
  }
  .profile-listing ul {
    padding-left: 25px;
  }
  .profile-icon a img {
    width: 7px;
  }
  ul .profile-list {
    gap: 0px;
    padding: 0px 0px 0px 0px;
  }
  .profile-list-item {
    gap: 0px;
  }
  .dropdown .dropbtn {
    padding: 4px 6px;
  }
  .dropbtn {
    font-size: 85%;
  }
  .dropdown .dropdown-content {
    min-width: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
  }
  .dropdown-content a {
    padding: 1px 1px;
    width: 25px;
    height: 5px;
    font-size: 50%;
  }
  .footer-links {
    padding-left: 10px;
  }
}

/* სტანდარტული M ტელეფონი (მაგალითად, iPhone 6/7/8) */
@media (min-width: 321px) and (max-width: 375px) {
  body {
    font-size: 75%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 40px;
  }
  .navbar .navbar-wrapper {
    padding: 0 1px;
  }
  .navbar-wrapper .navbar-img {
    width: 70px;
  }
  .menu-container .menu-list {
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-gap: 35px;
  }
  .menu-list {
    padding: 0px 0px 0px 0px;
  }
  .profile-list {
    gap: 0;
  }
  body .sidebar {
    width: 20px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 20px;
    top: 40;
  }
  .sidebar a i {
    font-size: 10px;
  }
  .profile-listing ul li {
    padding-right: 15px;
  }
  .profile-listing ul {
    padding-left: 25px;
  }
  .profile-icon a img {
    width: 7px;
  }
  ul .profile-list {
    gap: 0px;
    padding: 0px 0px 0px 0px;
  }
  .profile-list-item {
    gap: 0px;
  }
  .dropdown .dropbtn {
    padding: 4px 6px;
  }
  .dropbtn {
    font-size: 100%;
  }
  .dropdown .dropdown-content {
    min-width: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
  }
  .dropdown-content a {
    padding: 1px 1px;
    width: 25px;
    height: 5px;
    font-size: 50%;
  }
  .footer-links {
    padding-left: 10px;
  }
}

/* სტანდარტული L ტელეფონი (მაგალითად, iPhone 6/7/8) */
@media (min-width: 376px) and (max-width: 425px) {
  body {
    font-size: 80%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 40px;
  }
  .navbar .navbar-wrapper {
    padding: 0 1px;
  }
  .navbar-wrapper .navbar-img {
    width: 70px;
  }
  .menu-container .menu-list {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .menu-list {
    padding: 0px 0px 0px 0px;
  }
  .profile-list {
    gap: 0;
  }
  .dropdown-content {
  }
  body .sidebar {
    width: 20px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 20px;
    top: 40;
  }
  .sidebar a i {
    font-size: 10px;
  }
  .profile-listing ul li {
    padding-right: 15px;
  }
  .profile-listing ul {
    padding-left: 25px;
  }
  .profile-icon a img {
    width: 7px;
  }
  ul .profile-list {
    gap: 0px;
    padding: 0px 0px 0px 0px;
  }
  .profile-list-item {
    gap: 0px;
  }
  .dropdown .dropbtn {
    padding: 4px 6px;
  }
  .dropbtn {
    font-size: 80%;
  }
  .dropdown .dropdown-content {
    min-width: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
  }
  .dropdown-content a {
    padding: 1px 1px;
    width: 25px;
    height: 5px;
    font-size: 50%;
  }
  footer {
    padding-left: 10px;
  }
}

/* სტანდარტული ტელეფონი (მაგალითად, iPhone 6/7/8) */
@media (min-width: 426px) and (max-width: 520px) {
  body {
    font-size: 80%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 40px;
  }
  .navbar .navbar-wrapper {
    padding: 0 1px;
  }
  .navbar-wrapper .navbar-img {
    width: 70px;
  }
  .menu-container .menu-list {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .menu-list {
    padding: 0px 0px 0px 0px;
  }
  .profile-list {
    gap: 0;
  }
  body .sidebar {
    width: 20px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 20px;
    top: 40;
  }
  .sidebar a i {
    font-size: 10px;
  }
  .profile-listing ul li {
    padding-right: 15px;
  }
  .profile-listing ul {
    padding-left: 25px;
  }
  .profile-icon a img {
    width: 7px;
  }
  ul .profile-list {
    gap: 0px;
    padding: 0px 0px 0px 0px;
  }
  .profile-list-item {
    gap: 0px;
  }
  .dropdown .dropbtn {
    padding: 4px 6px;
  }
  .dropbtn {
    font-size: 80%;
  }
  .dropdown .dropdown-content {
    min-width: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
  }
  .dropdown-content a {
    padding: 1px 1px;
    width: 25px;
    height: 5px;
    font-size: 50%;
  }
  footer {
    font-size: 70%;
    padding-left: 10px;
  }
}

/* სტანდარტული ტელეფონი (მაგალითად, iPhone 6/7/8) */
@media (min-width: 521px) and (max-width: 620px) {
  body {
    font-size: 85%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 40px;
  }
  .navbar .navbar-wrapper {
    padding: 0 1px;
  }
  .navbar-wrapper .navbar-img {
    width: 70px;
  }
  .menu-container .menu-list {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .menu-list {
    padding: 0px 0px 0px 0px;
  }
  .profile-list {
    gap: 0;
  }
  .dropdown-content {
  }
  body .sidebar {
    width: 20px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 20px;
    top: 40;
  }
  .sidebar a i {
    font-size: 10px;
  }
  .profile-listing ul li {
    padding-right: 15px;
  }
  .profile-listing ul {
    padding-left: 25px;
  }
  .profile-icon a img {
    width: 7px;
  }
  ul .profile-list {
    gap: 0px;
    padding: 0px 0px 0px 0px;
  }
  .profile-list-item {
    gap: 0px;
  }
  .dropdown .dropbtn {
    padding: 4px 6px;
  }
  .dropbtn {
    font-size: 80%;
  }
  .dropdown .dropdown-content {
    min-width: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
  }
  .dropdown-content a {
    padding: 1px 1px;
    width: 25px;
    height: 5px;
    font-size: 50%;
  }
  footer {
    font-size: 70%;
    padding-left: 10px;
  }
}

/* სტანდარტული ტელეფონი (მაგალითად, iPhone 6/7/8) */
@media (min-width: 621px) and (max-width: 767px) {
  body {
    font-size: 80%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 40px;
  }
  .navbar .navbar-wrapper {
    padding: 0 1px;
  }
  .navbar-wrapper .navbar-img {
    width: 70px;
  }
  .menu-container .menu-list {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
  .menu-list {
    padding: 0px 0px 0px 0px;
  }
  .profile-list {
    gap: 0;
  }
  .dropdown-content {
  }
  body .sidebar {
    width: 20px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 20px;
    top: 40;
  }
  .sidebar a i {
    font-size: 10px;
  }
  .profile-listing ul li {
    padding-right: 15px;
  }
  .profile-listing ul {
    padding-left: 25px;
  }
  .profile-icon a img {
    width: 7px;
  }
  ul .profile-list {
    gap: 0px;
    padding: 0px 0px 0px 0px;
  }
  .profile-list-item {
    gap: 0px;
  }
  .dropdown .dropbtn {
    padding: 4px 6px;
  }
  .dropbtn {
    font-size: 80%;
  }
  .dropdown .dropdown-content {
    min-width: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
  }
  .dropdown-content a {
    padding: 1px 1px;
    width: 25px;
    height: 5px;
    font-size: 50%;
  }
  footer {
    font-size: 70%;
    padding-left: 12px;
  }
}

/* დიდი ტელეფონი (მაგალითად, iPhone 6/7/8 Plus) */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 90%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 40px;
  }
  .navbar .navbar-wrapper {
    padding: 0 1px;
  }
  .navbar-wrapper .navbar-img {
    width: 70px;
  }
  .menu-container .menu-list {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
  .menu-list {
    padding: 0px 0px 0px 0px;
  }
  .profile-list {
    gap: 0;
  }
  .dropdown-content {
  }
  body .sidebar {
    width: 20px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 20px;
    top: 40;
  }
  .sidebar a i {
    font-size: 10px;
  }
  .profile-listing ul li {
    padding-right: 15px;
  }
  .profile-listing ul {
    padding-left: 25px;
  }
  .profile-icon a img {
    width: 7px;
  }
  ul .profile-list {
    gap: 0px;
    padding: 0px 0px 0px 0px;
  }
  .profile-list-item {
    gap: 0px;
  }
  .dropdown .dropbtn {
    padding: 4px 6px;
  }
  .dropbtn {
    font-size: 80%;
  }
  .dropdown .dropdown-content {
    min-width: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
  }
  .dropdown-content a {
    padding: 5px 5px;
    padding-right: 20px;
    width: 25px;
    height: 5px;
    font-size: 50%;
  }
  footer {
    font-size: 80%;
    padding-left: 10px;
  }
}

/* პატარა ტაბლეტი (მაგალითად, iPad Mini) */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 90%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 40px;
  }
  .navbar .navbar-wrapper {
    padding: 0 1px;
  }
  .navbar-wrapper .navbar-img {
    width: 70px;
  }
  .menu-container .menu-list {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
  .menu-list {
    padding: 0px 0px 0px 0px;
  }
  .profile-list {
    gap: 0;
  }
  .dropdown-content {
  }
  body .sidebar {
    width: 20px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 20px;
    top: 40;
  }
  .sidebar a i {
    font-size: 10px;
  }
  .profile-listing ul li {
    padding-right: 15px;
  }
  .profile-listing ul {
    padding-left: 25px;
  }
  .profile-icon a img {
    width: 7px;
  }
  ul .profile-list {
    gap: 0px;
    padding: 0px 0px 0px 0px;
  }
  .profile-list-item {
    gap: 0px;
  }
  .dropdown .dropbtn {
    padding: 4px 6px;
  }
  .dropbtn {
    font-size: 80%;
  }
  .dropdown .dropdown-content {
    min-width: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
  }
  .dropdown-content a {
    padding: 5px 5px;
    padding-right: 20px;
    width: 25px;
    height: 5px;
    font-size: 50%;
  }
  footer {
    font-size: 80%;
    padding-left: 10px;
  }
}

/* სტანდარტული ტაბლეტი (მაგალითად, iPad) */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 100%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 60px;
  }
  .navbar .navbar-wrapper {
    padding: 0 1px;
  }
  .navbar-wrapper .navbar-img {
    width: 100px;
  }
  .menu-container .menu-list {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
  .menu-list {
    padding: 0px 0px 0px 0px;
  }
  .profile-list {
    gap: 0;
  }
  .dropdown-content {
  }
  body .sidebar {
    width: 20px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 50px;
    top: 40;
  }
  .sidebar a i {
    font-size: 10px;
  }
  .profile-listing ul li {
    padding-right: 15px;
  }
  .profile-listing ul {
    padding-left: 25px;
  }
  .profile-icon a img {
    width: 7px;
  }
  ul .profile-list {
    gap: 0px;
    padding: 0px 0px 0px 0px;
  }
  .profile-list-item {
    gap: 0px;
  }
  .dropdown .dropbtn {
    padding: 4px 6px;
  }
  .dropbtn {
    font-size: 80%;
  }
  .dropdown .dropdown-content {
    min-width: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
  }
  .dropdown-content a {
    padding: 5px 5px;
    padding-right: 20px;
    width: 25px;
    height: 5px;
    font-size: 50%;
  }
  footer {
    font-size: 100%;
    padding-left: 10px;
  }
}

/* პატარა ლეპტოპი */
@media (min-width: 1200px) and (max-width: 1439px) {
  body {
    font-size: 100%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 85px;
  }
  .navbar .navbar-wrapper {
    padding: 0 1px;
  }
  .navbar-wrapper .navbar-img {
    width: 110px;
  }
  .menu-container .menu-list {
    -webkit-column-gap: 45px;
    -moz-column-gap: 45px;
    column-gap: 45px;
  }
  .menu-list {
    padding: 0px 0px 0px 0px;
  }
  .profile-list {
    gap: 0;
  }
  .dropdown-content {
  }
  body .sidebar {
    width: 20px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 60px;
    top: 50;
  }
  .sidebar a i {
    font-size: 10px;
  }
  .profile-listing ul li {
    padding-right: 15px;
  }
  .profile-listing ul {
    padding-left: 25px;
  }
  .profile-icon a img {
    width: 7px;
  }
  ul .profile-list {
    gap: 0px;
    padding: 0px 0px 0px 0px;
  }
  .profile-list-item {
    gap: 0px;
  }
  .dropdown .dropbtn {
    padding: 4px 6px;
  }
  .dropbtn {
    font-size: 80%;
  }
  .dropdown .dropdown-content {
    min-width: 20px;
    position: absolute;
    right: 10px;
    text-align: center;
  }
  .dropdown-content a {
    padding: 5px 5px;
    padding-right: 20px;
    width: 40px;
    height: 5px;
    font-size: 50%;
  }
  footer {
    font-size: 100%;
    padding-left: 10px;
  }
}

/* სტანდარტული ლეპტოპი */
@media (min-width: 1440px) and (max-width: 1680px) {
  body {
    font-size: 100%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 85px;
    width: 100%;
    top: 0;
  }
  .navbar .navbar-wrapper {
    padding: 0 50px;
  }
  .navbar-wrapper .navbar-img {
    width: 150px;
    margin-top: 1px;
  }
  .menu-container .menu-list {
    gap: 30px;
  }
  .menu-list {
    gap: 30px;
  }
  .profile-list {
    gap: 30px;
  }
  .profile-icon a img {
    width: 20px;
    margin-left: 10px;
  }
  .dropdown .dropbtn {
    padding: 12px 10px;
  }
  .dropbtn {
    font-size: 100%;
  }
  .dropdown .dropdown-content {
    min-width: 160px;
  }
  .dropdown-content a {
    padding: 12px 16px;
    font-size: 100%;
  }
}

/* სტანდარტული ლეპტოპი */
@media (min-width: 1440px) and (max-width: 1919px) {
  body {
    font-size: 100%;
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 85px;
    width: 100%;
    top: 0;
  }
  .navbar .navbar-wrapper {
    padding: 0 50px;
  }
  .navbar-wrapper .navbar-img {
    width: 150px;
    margin-top: 1px;
  }
  .menu-container .menu-list {
    gap: 30px;
  }
  .menu-list {
    gap: 30px;
  }
  .profile-list {
    gap: 30px;
  }
  .profile-icon a img {
    width: 20px;
    margin-left: 10px;
  }
  .dropdown .dropbtn {
    padding: 12px 10px;
  }
  .dropbtn {
    font-size: 100%;
  }
  .dropdown .dropdown-content {
    min-width: 160px;
  }
  .dropdown-content a {
    padding: 12px 16px;
    font-size: 100%;
  }
}

/* დიდი ლეპტოპი */
@media (min-width: 1681px) and (max-width: 2399px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 85px;
    width: 100%;
    top: 0;
  }
  .navbar .navbar-wrapper {
    padding: 0 50px;
  }
  .navbar-wrapper .navbar-img {
    width: 150px;
    margin-top: 1px;
  }
  .menu-list a {
    font-size: 26px;
  }
  .menu-container .menu-list {
    gap: 30px;
  }
  .menu-list {
    gap: 30px;
  }
  .profile-list {
    gap: 30px;
  }
  .profile-icon a img {
    width: 20px;
    margin-left: 10px;
  }
  .dropdown .dropbtn {
    padding: 12px 10px;
  }
  .dropbtn {
    font-size: 24px;
  }
  .dropdown .dropdown-content {
    min-width: 160px;
  }
  .dropdown-content a {
    padding: 12px 16px;
    font-size: 100%;
  }
}

/* სამაგიდო კომპიუტერი */
@media (min-width: 2400px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  header .navbar {
    height: 85px;
    width: 100%;
    top: 0;
  }
  .navbar .navbar-wrapper {
    padding: 0 50px;
  }
  .navbar-wrapper .navbar-img {
    width: 150px;
    margin-top: 1px;
  }
  .menu-list a {
    font-size: 26px;
  }
  .menu-container .menu-list {
    gap: 30px;
  }
  .menu-list {
    gap: 30px;
  }
  .profile-list {
    gap: 30px;
  }
  .profile-icon a img {
    width: 20px;
    margin-left: 10px;
  }
  .dropdown .dropbtn {
    padding: 12px 10px;
  }
  .dropbtn {
    font-size: 24px;
  }
  .dropdown .dropdown-content {
    min-width: 160px;
  }
  .dropdown-content a {
    padding: 12px 16px;
    font-size: 100%;
  }
}
