/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');



/*  */
/*  */
/*  */
/*  */

* {
    margin: 0;
}

body {
    background-color: black;
}

/*! responsive */
/*! responsive */
/*! responsive */
/*! responsive */

@media (max-width: 320px) {
    html::-webkit-scrollbar {
        width: 1px;
    }
    body {
        font-size: 65%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 40px;
    }
    .navbar .navbar-wrapper {
        padding: 0 1px;
    }
    .navbar-wrapper .navbar-img {
        width: 70px;
    }
    .menu-container .menu-list {
        -webkit-column-gap: 25px;
           -moz-column-gap: 25px;
                column-gap: 25px;
    }
    .menu-list {
        padding: 0px 0px 0px 0px;
    }
    .profile-list {
        gap: 0;
    }
    body .sidebar {
        width: 20px;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        padding-top: 20px;
        top: 40;
    }
    .sidebar a i {
        font-size: 10px;
    }
    
    .footer-links {
        padding-left: 10px;
    }
}

/* სტანდარტული M ტელეფონი (მაგალითად, iPhone 6/7/8) */
@media (min-width: 321px) and (max-width: 375px) {
    body {
        font-size: 75%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 40px;
    }
    .navbar .navbar-wrapper {
        padding: 0 1px;
    }
    .navbar-wrapper .navbar-img {
        width: 70px;
    }
    .menu-container .menu-list {
        -webkit-column-gap: 35px;
           -moz-column-gap: 35px;
                column-gap: 35px;
    }
    .menu-list {
        padding: 0px 0px 0px 0px;
    }
    .profile-list {
        gap: 0;
    }
    body .sidebar {
        width: 20px;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        padding-top: 20px;
        top: 40;
    }
    .sidebar a i {
        font-size: 10px;
    }
    
    .footer-links {
        padding-left: 10px;
    }
}

/* სტანდარტული L ტელეფონი (მაგალითად, iPhone 6/7/8) */
@media (min-width: 376px) and (max-width: 425px) {
    body {
        font-size: 80%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 40px;
    }
    .navbar .navbar-wrapper {
        padding: 0 1px;
    }
    .navbar-wrapper .navbar-img {
        width: 70px;
    }
    .menu-container .menu-list {
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
    }
    .menu-list {
        padding: 0px 0px 0px 0px;
    }
    .profile-list {
        gap: 0;
    }
    .dropdown-content {
    }
    body .sidebar {
        width: 20px;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        padding-top: 20px;
        top: 40;
    }
    .sidebar a i {
        font-size: 10px;
    }
    .main-content .slayd-wrapper {
        left: 20px;
        top: 40px;
        width: 97%;
    }
    .profile-listing ul li {
        padding-right: 15px;
    }
    .profile-listing ul {
        padding-left: 25px;
    }
    .profile-icon a img {
        width: 7px;
    }
    ul .profile-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .profile-list-item {
        gap: 0px;
    }
    .dropdown .dropbtn {
        padding: 4px 6px;
    }
    .dropbtn {
        font-size: 80%;
    }
    .dropdown .dropdown-content {
        min-width: 10px;
        position: absolute;
        right: 10px;
        text-align: center;
    }
    .dropdown-content a {
        padding: 1px 1px;
        width: 25px;
        height: 5px;
        font-size: 50%;
    }
    
    footer {
        padding-left: 10px;
    }
}

/* სტანდარტული ტელეფონი (მაგალითად, iPhone 6/7/8) */
@media (min-width: 426px) and (max-width: 520px) {
    body {
        font-size: 80%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 40px;
    }
    .navbar .navbar-wrapper {
        padding: 0 1px;
    }
    .navbar-wrapper .navbar-img {
        width: 70px;
    }
    .menu-container .menu-list {
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
    }
    .menu-list {
        padding: 0px 0px 0px 0px;
    }
    .profile-list {
        gap: 0;
    }
    body .sidebar {
        width: 20px;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        padding-top: 20px;
        top: 40;
    }
    .sidebar a i {
        font-size: 10px;
    }
    .main-content .slayd-wrapper {
        left: 20px;
        top: 40px;
        width: 97%;
    }
    .profile-listing ul li {
        padding-right: 15px;
    }
    .profile-listing ul {
        padding-left: 25px;
    }
    .profile-icon a img {
        width: 7px;
    }
    ul .profile-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .profile-list-item {
        gap: 0px;
    }
    .dropdown .dropbtn {
        padding: 4px 6px;
    }
    .dropbtn {
        font-size: 80%;
    }
    .dropdown .dropdown-content {
        min-width: 10px;
        position: absolute;
        right: 10px;
        text-align: center;
    }
    .dropdown-content a {
        padding: 1px 1px;
        width: 25px;
        height: 5px;
        font-size: 50%;
    }
    footer {
        font-size: 70%;
        padding-left: 10px;
    }
}

/* სტანდარტული ტელეფონი (მაგალითად, iPhone 6/7/8) */
@media (min-width: 521px) and (max-width: 620px) { 
    body {
        font-size: 85%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 40px;
    }
    .navbar .navbar-wrapper {
        padding: 0 1px;
    }
    .navbar-wrapper .navbar-img {
        width: 70px;
    }
    .menu-container .menu-list {
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
    }
    .menu-list {
        padding: 0px 0px 0px 0px;
    }
    .profile-list {
        gap: 0;
    }
    .dropdown-content {
    }
    body .sidebar {
        width: 20px;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        padding-top: 20px;
        top: 40;
    }
    .sidebar a i {
        font-size: 10px;
    }
    .main-content .slayd-wrapper {
        left: 20px;
        top: 40px;
        width: 97%;
    }
    .profile-listing ul li {
        padding-right: 15px;
    }
    .profile-listing ul {
        padding-left: 25px;
    }
    .profile-icon a img {
        width: 7px;
    }
    ul .profile-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .profile-list-item {
        gap: 0px;
    }
    .dropdown .dropbtn {
        padding: 4px 6px;
    }
    .dropbtn {
        font-size: 80%;
    }
    .dropdown .dropdown-content {
        min-width: 10px;
        position: absolute;
        right: 10px;
        text-align: center;
    }
    .dropdown-content a {
        padding: 1px 1px;
        width: 25px;
        height: 5px;
        font-size: 50%;
    }
    .main-content .slayd-text-wrapper {
        left: 50px;
        top: 50px;
    }
    .main-content .slayd-text-wrapper p {
        font-size: 18px;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .main-content .slayd-text-wrapper button {
        font-size: 14px;
        padding: 2px 5px;
    } 
    .slayd-text-wrapper .buttons {
        gap: 15px;
    }
    body .movie-list-container1 {
        margin-top: 500px;
        margin-left: 30px;
    }
    body .movie-list-container2 {
        margin-top: 0px;
        margin-left: 30px;
    }
    body .movie-list-container3 {
        margin-top: 0px;
        margin-left: 30px; 
        margin-bottom: 50px;
    }
    .movie-list-container1 .movie-list-wrapper {
        padding: 0px 0px 0px 0px;
    }
    body .movie-list-title {
        font-size: 16px;
        top: 0%;
        padding: 30px;
    }
    .movie-list-wrapper .menu-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .movie-list-wrapper .movie-list {
        height: 180px;
    }
    .movie-item img {
        /* width: 120px; */
        /* height: 130px; */
    }
    .movie-list .movie-item:hover .movie-item-img {
        margin-left: 20px;
        margin-right: 10px;
    }
    .movie-list-wrapper #isari {
        font-size: 60px;
        top: 60px;
        right: -60px;
    }
    footer {
        font-size: 70%;
        padding-left: 10px;
    }
}

/* სტანდარტული ტელეფონი (მაგალითად, iPhone 6/7/8) */
@media (min-width: 621px) and (max-width: 767px) {
    body {
        font-size: 80%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 40px;
    }
    .navbar .navbar-wrapper {
        padding: 0 1px;
    }
    .navbar-wrapper .navbar-img {
        width: 70px;
    }
    .menu-container .menu-list {
        -webkit-column-gap: 25px;
           -moz-column-gap: 25px;
                column-gap: 25px;
    }
    .menu-list {
        padding: 0px 0px 0px 0px;
    }
    .profile-list {
        gap: 0;
    }
    .dropdown-content {
    }
    body .sidebar {
        width: 20px;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        padding-top: 20px;
        top: 40;
    }
    .sidebar a i {
        font-size: 10px;
    }
    .main-content .slayd-wrapper {
        left: 20px;
        top: 40px;
        width: 97%;
    }
    .profile-listing ul li {
        padding-right: 15px;
    }
    .profile-listing ul {
        padding-left: 25px;
    }
    .profile-icon a img {
        width: 7px;
    }
    ul .profile-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .profile-list-item {
        gap: 0px;
    }
    .dropdown .dropbtn {
        padding: 4px 6px;
    }
    .dropbtn {
        font-size: 80%;
    }
    .dropdown .dropdown-content {
        min-width: 10px;
        position: absolute;
        right: 10px;
        text-align: center;
    }
    .dropdown-content a {
        padding: 1px 1px;
        width: 25px;
        height: 5px;
        font-size: 50%;
    }
    .main-content .slayd-text-wrapper {
        left: 50px;
        top: 50px;
    }
    .main-content .slayd-text-wrapper p {
        font-size: 18px;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .main-content .slayd-text-wrapper button {
        font-size: 14px;
        padding: 2px 5px;
    } 
    .slayd-text-wrapper .buttons {
        gap: 15px;
    }
    body .movie-list-container1 {
        margin-top: 500px;
        margin-left: 30px;
    }
    body .movie-list-container2 {
        margin-top: 0px;
        margin-left: 30px;
    }
    body .movie-list-container3 {
        margin-top: 0px;
        margin-left: 30px; 
        margin-bottom: 50px;
    }
    .movie-list-container1 .movie-list-wrapper {
        padding: 0px 0px 0px 0px;
    }
    body .movie-list-title {
        font-size: 16px;
        top: 0%;
        padding: 30px;
    }
    .movie-list-wrapper .menu-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .movie-list-wrapper .movie-list {
        height: 180px;
    }
    .movie-item img {
        /* width: 120px; */
        /* height: 130px; */
    }
    .movie-list .movie-item:hover .movie-item-img {
        margin-left: 20px;
        margin-right: 10px;
    }
    .movie-list-wrapper #isari {
        font-size: 60px;
        top: 60px;
        right: -60px;
    }
    footer {
        font-size: 70%;
        padding-left: 12px;
    }
}

/* დიდი ტელეფონი (მაგალითად, iPhone 6/7/8 Plus) */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 90%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 40px;
    }
    .navbar .navbar-wrapper {
        padding: 0 1px;
    }
    .navbar-wrapper .navbar-img {
        width: 70px;
    }
    .menu-container .menu-list {
        -webkit-column-gap: 25px;
           -moz-column-gap: 25px;
                column-gap: 25px;
    }
    .menu-list {
        padding: 0px 0px 0px 0px;
    }
    .profile-list {
        gap: 0;
    }
    .dropdown-content {
    }
    body .sidebar {
        width: 20px;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        padding-top: 20px;
        top: 40;
    }
    .sidebar a i {
        font-size: 10px;
    }
    .main-content .slayd-wrapper {
        left: 20px;
        top: 40px;
        width: 98%;
    }
    .profile-listing ul li {
        padding-right: 15px;
    }
    .profile-listing ul {
        padding-left: 25px;
    }
    .profile-icon a img {
        width: 7px;
    }
    ul .profile-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .profile-list-item {
        gap: 0px;
    }
    .dropdown .dropbtn {
        padding: 4px 6px;
    }
    .dropbtn {
        font-size: 80%;
    }
    .dropdown .dropdown-content {
        min-width: 10px;
        position: absolute;
        right: 10px;
        text-align: center;
    }
    .dropdown-content a {
        padding: 5px 5px;
        padding-right: 20px;
        width: 25px;
        height: 5px;
        font-size: 50%;
    }
   
    footer {
        font-size: 80%;
        padding-left: 10px;
    }
}

/* პატარა ტაბლეტი (მაგალითად, iPad Mini) */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 90%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 40px;
    }
    .navbar .navbar-wrapper {
        padding: 0 1px;
    }
    .navbar-wrapper .navbar-img {
        width: 70px;
    }
    .menu-container .menu-list {
        -webkit-column-gap: 25px;
           -moz-column-gap: 25px;
                column-gap: 25px;
    }
    .menu-list {
        padding: 0px 0px 0px 0px;
    }
    .profile-list {
        gap: 0;
    }
    .dropdown-content {
    }
    body .sidebar {
        width: 20px;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        padding-top: 20px;
        top: 40;
    }
    .sidebar a i {
        font-size: 10px;
    }
    .main-content .slayd-wrapper {
        left: 20px;
        top: 40px;
        width: 98%;
    }
    .profile-listing ul li {
        padding-right: 15px;
    }
    .profile-listing ul {
        padding-left: 25px;
    }
    .profile-icon a img {
        width: 7px;
    }
    ul .profile-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .profile-list-item {
        gap: 0px;
    }
    .dropdown .dropbtn {
        padding: 4px 6px;
    }
    .dropbtn {
        font-size: 80%;
    }
    .dropdown .dropdown-content {
        min-width: 10px;
        position: absolute;
        right: 10px;
        text-align: center;
    }
    .dropdown-content a {
        padding: 5px 5px;
        padding-right: 20px;
        width: 25px;
        height: 5px;
        font-size: 50%;
    }
    .main-content .slayd-text-wrapper {
        left: 50px;
        top: 50px;
    }
    .main-content .slayd-text-wrapper p {
        font-size: 18px;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .main-content .slayd-text-wrapper button {
        font-size: 14px;
        padding: 2px 5px;
    } 
    .slayd-text-wrapper .buttons {
        gap: 15px;
    }
    body .movie-list-container1 {
        margin-top: 600px;
        margin-left: 30px;
    }
    body .movie-list-container2 {
        margin-top: 0px;
        margin-left: 30px;
    }
    body .movie-list-container3 {
        margin-top: 0px;
        margin-left: 30px; 
        margin-bottom: 50px;
    }
    .movie-list-container1 .movie-list-wrapper {
        padding: 0px 0px 0px 0px;
    }
    body .movie-list-title {
        font-size: 16px;
        top: 0%;
        padding: 30px;
    }
    .movie-list-wrapper .menu-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .movie-list-wrapper .movie-list {
        height: 180px;
    }
    .movie-list .movie-item:hover .movie-item-img {
        margin-left: 20px;
        margin-right: 10px;
    }
    .movie-list-wrapper #isari {
        font-size: 60px;
        top: 60px;
        right: -60px;
    }
    footer {
        font-size: 80%;
        padding-left: 10px;
    }
}

/* სტანდარტული ტაბლეტი (მაგალითად, iPad) */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 100%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 60px;
    }
    .navbar .navbar-wrapper {
        padding: 0 1px;
    }
    .navbar-wrapper .navbar-img {
        width: 100px;
    }
    .menu-container .menu-list {
        -webkit-column-gap: 25px;
           -moz-column-gap: 25px;
                column-gap: 25px;
    }
    .menu-list {
        padding: 0px 0px 0px 0px;
    }
    .profile-list {
        gap: 0;
    }
    .dropdown-content {
    }
    body .sidebar {
        width: 20px;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        padding-top: 50px;
        top: 40;
    }
    .sidebar a i {
        font-size: 10px;
    }
    .main-content .slayd-wrapper {
        left: 20px;
        top: 40px;
        width: 98%;
    }
    .profile-listing ul li {
        padding-right: 15px;
    }
    .profile-listing ul {
        padding-left: 25px;
    }
    .profile-icon a img {
        width: 7px;
    }
    ul .profile-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .profile-list-item {
        gap: 0px;
    }
    .dropdown .dropbtn {
        padding: 4px 6px;
    }
    .dropbtn {
        font-size: 80%;
    }
    .dropdown .dropdown-content {
        min-width: 10px;
        position: absolute;
        right: 10px;
        text-align: center;
    }
    .dropdown-content a {
        padding: 5px 5px;
        padding-right: 20px;
        width: 25px;
        height: 5px;
        font-size: 50%;
    }
    .main-content .slayd-text-wrapper {
        left: 50px;
        top: 50px;
    }
    .main-content .slayd-text-wrapper p {
        font-size: 18px;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .main-content .slayd-text-wrapper button {
        font-size: 14px;
        padding: 2px 5px;
    } 
    .slayd-text-wrapper .buttons {
        gap: 15px;
    }
    body .movie-list-container1 {
        margin-top: 750px;
        margin-left: 30px;
    }
    body .movie-list-container2 {
        margin-top: 0px;
        margin-left: 30px;
    }
    body .movie-list-container3 {
        margin-top: 0px;
        margin-left: 30px; 
        margin-bottom: 50px;
    }
    .movie-list-container1 .movie-list-wrapper {
        padding: 0px 0px 0px 0px;
    }
    body .movie-list-title {
        font-size: 16px;
        top: 0%;
        padding: 30px;
    }
    .movie-list-wrapper .menu-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .movie-list-wrapper .movie-list {
        height: 180px;
    }
    .movie-list .movie-item:hover .movie-item-img {
        margin-left: 20px;
        margin-right: 10px;
    }
    .movie-list-wrapper #isari {
        font-size: 100px;
        top: 60px;
        right: -20px;
    }
    footer {
        font-size: 100%;
        padding-left: 10px;
    }
}

/* პატარა ლეპტოპი */
@media (min-width: 1200px) and (max-width: 1439px) {
    body {
        font-size: 100%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 85px;
    }
    .navbar .navbar-wrapper {
        padding: 0 1px;
    }
    .navbar-wrapper .navbar-img {
        width: 110px;
    }
    .menu-container .menu-list {
        -webkit-column-gap: 45px;
           -moz-column-gap: 45px;
                column-gap: 45px;
    }
    .menu-list {
        padding: 0px 0px 0px 0px;
    }
    .profile-list {
        gap: 0;
    }
    .dropdown-content {
    }
    body .sidebar {
        width: 20px;
        -webkit-column-gap: 5px;
           -moz-column-gap: 5px;
                column-gap: 5px;
        padding-top: 60px;
        top: 50;
    }
    .sidebar a i {
        font-size: 10px;
    }
    .main-content .slayd-wrapper {
        left: 20px;
        top: 40px;
        width: 98%;
    }
    .profile-listing ul li {
        padding-right: 15px;
    }
    .profile-listing ul {
        padding-left: 25px;
    }
    .profile-icon a img {
        width: 7px;
    }
    ul .profile-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .profile-list-item {
        gap: 0px;
    }
    .dropdown .dropbtn {
        padding: 4px 6px;
    }
    .dropbtn {
        font-size: 80%;
    }
    .dropdown .dropdown-content {
        min-width: 20px;
        position: absolute;
        right: 10px;
        text-align: center;
    }
    .dropdown-content a {
        padding: 5px 5px;
        padding-right: 20px;
        width: 40px;
        height: 5px;
        font-size: 50%;
    }
    .main-content .slayd-text-wrapper {
        left: 50px;
        top: 50px;
    }
    .main-content .slayd-text-wrapper p {
        font-size: 26px;
        padding-top: 40px;
        margin-bottom: 20px;
    }
    .main-content .slayd-text-wrapper button {
        font-size: 18px;
        padding: 2px 5px;
    } 
    .slayd-text-wrapper .buttons {
        gap: 15px;
    }
    body .movie-list-container1 {
        margin-top: 850px;
        margin-left: 30px;
    }
    body .movie-list-container2 {
        margin-top: 0px;
        margin-left: 30px;
    }
    body .movie-list-container3 {
        margin-top: 0px;
        margin-left: 30px; 
        margin-bottom: 50px;
    }
    .movie-list-container1 .movie-list-wrapper {
        padding: 0px 0px 0px 0px;
    }
    body .movie-list-title {
        font-size: 16px;
        top: 0%;
        padding: 30px;
    }
    .movie-list-wrapper .menu-list {
        gap: 0px;
        padding: 0px 0px 0px 0px;
    }
    .movie-list-wrapper .movie-list {
        height: 180px;
    }
    .movie-list .movie-item:hover .movie-item-img {
        margin-left: 20px;
        margin-right: 10px;
    }
    .movie-list-wrapper #isari {
        font-size: 100px;
        top: 60px;
        right: -20px;
    }
    footer {
        font-size: 100%;
        padding-left: 10px;
    }
}

/* სტანდარტული ლეპტოპი */
@media (min-width: 1440px) and (max-width: 1919px) {
    body {
        font-size: 100%;
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 85px;
        width: 100%;
        top: 0;
    }
    .navbar .navbar-wrapper {
        padding: 0 50px;
    }
    .navbar-wrapper .navbar-img {
        width: 150px;
        margin-top: 1px;
    }
    .menu-container .menu-list {
        gap: 30px;
    }
    .menu-list {
        gap: 30px;
    }
    .profile-list {
        gap: 30px;
    }
    .profile-icon img {
        margin-top: 5px;
    }
    .main-content .slayd-wrapper {
        left: 35px;
        top: 85px;
        width: 97.3%;
        height: 900px;
        border: black;
    }
    .profile-icon a img {
        width: 20px;
        margin-left: 10px;
    }
    .dropdown .dropbtn {
        padding: 12px 10px;
    }
    .dropbtn {
        font-size: 100%;
    }
    .dropdown .dropdown-content {
        min-width: 160px;
    }
    .dropdown-content a {
        padding: 12px 16px;
        font-size: 100%;
    }
    .main-content .slayd-text-wrapper {
        left: 150px;
        top: 200px;
    }
    .main-content .slayd-text-wrapper p {
        margin-bottom: 20px;
    }
    .main-content .slayd-text-wrapper button {
        font-size: 16px;
        padding: 5px 10px;
    } 
    .slayd-text-wrapper .buttons {
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
    }
    body .movie-list-container1 {
        margin-top: 1100px;
        margin-left: 70px;
    }
    body .movie-list-container2 {
        margin-top: 0px;
        margin-left: 70px;
    }
    body .movie-list-container3 {
        margin-top: 0px;
        margin-left: 70px; 
        margin-bottom: 50px;
    }
    .movie-list-wrapper .menu-list {
        -webkit-column-gap: 30px;
           -moz-column-gap: 30px;
                column-gap: 30px;
        height: 300px;
    }
    .movie-item:hover .movie-item-img {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        margin: 0 0px;
        opacity: 0.6;
    }
    .movie-list-wrapper #isari {
        font-size: 120px;
        width: 100px;
        top: 100px;
        right: 0px;
    }
}

/* დიდი ლეპტოპი */
@media (min-width: 1920px) and (max-width: 2399px) {
    body {
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 85px;
        width: 100%;
        top: 0;
    }
    .navbar .navbar-wrapper {
        padding: 0 50px;
    }
    .navbar-wrapper .navbar-img {
        width: 150px;
        margin-top: 1px;
    }
    .menu-list a  {
        font-size: 26px;
    }
    .menu-container .menu-list {
        gap: 30px;
    }
    .menu-list {
        gap: 30px;
    }
    .profile-list {
        gap: 30px;
    }
    .main-content .slayd-wrapper {
        left: 35px;
        top: 85px;
        width: 100%;
        height: 1200px;
        border: black;
    }
    .profile-icon a img {
        width: 20px;
        margin-left: 10px;
    }
    .dropdown .dropbtn {
        padding: 12px 10px;
    }
    .dropbtn {
    font-size: 24px;
    }
    .dropdown .dropdown-content {
        min-width: 160px;
    }
    .dropdown-content a {
        padding: 12px 16px;
        font-size: 100%;
    }
    .main-content .slayd-text-wrapper {
        left: 150px;
        top: 200px;
    }
    .main-content .slayd-text-wrapper p {
        margin-bottom: 20px;
    }
    .main-content .slayd-text-wrapper button {
        font-size: 16px;
        padding: 5px 10px;
    } 
    .slayd-text-wrapper .buttons {
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
    }
    body .movie-list-container1 {
        margin-top: 1400px;
        margin-left: 70px;
    }
    body .movie-list-container2 {
        margin-top: 0px;
        margin-left: 70px;
    }
    body .movie-list-container3 {
        margin-top: 0px;
        margin-left: 70px; 
        margin-bottom: 50px;
    }
    .movie-list-wrapper .menu-list {
        -webkit-column-gap: 30px;
           -moz-column-gap: 30px;
                column-gap: 30px;
        height: 300px;
    }
    .movie-item:hover .movie-item-img {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        margin: 0 0px;
        opacity: 0.6;
    }
    .movie-list-wrapper #isari {
        font-size: 120px;
        width: 100px;
        top: 100px;
        right: 0px;
    }
}

/* სამაგიდო კომპიუტერი */
@media (min-width: 2400px) {
    body {
        background-color: rgb(0, 0, 0);
    }
    header .navbar {
        height: 85px;
        width: 100%;
        top: 0;
    }
    .navbar .navbar-wrapper {
        padding: 0 50px;
    }
    .navbar-wrapper .navbar-img {
        width: 150px;
        margin-top: 1px;
    }
    .menu-list a  {
        font-size: 26px;
    }
    .menu-container .menu-list {
        gap: 30px;
    }
    .menu-list {
        gap: 30px;
    }
    .profile-list {
        gap: 30px;
    }
    .main-content .slayd-wrapper {
        left: 35px;
        top: 85px;
        width: 100%;
        height: 1400px;
        border: black;
    }
    .profile-icon a img {
        width: 20px;
        margin-left: 10px;
    }
    .dropdown .dropbtn {
        padding: 12px 10px;
    }
    .dropbtn {
    font-size: 24px;
    }
    .dropdown .dropdown-content {
        min-width: 160px;
    }
    .dropdown-content a {
        padding: 12px 16px;
        font-size: 100%;
    }
    .main-content .slayd-text-wrapper {
        left: 150px;
        top: 200px;
    }
    .main-content .slayd-text-wrapper p {
        margin-bottom: 20px;
    }
    .main-content .slayd-text-wrapper button {
        font-size: 16px;
        padding: 5px 10px;
    } 
    .slayd-text-wrapper .buttons {
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
    }
    body .movie-list-container1 {
        margin-top: 1600px;
        margin-left: 70px;
    }
    body .movie-list-container2 {
        margin-top: 0px;
        margin-left: 70px;
    }
    body .movie-list-container3 {
        margin-top: 0px;
        margin-left: 70px; 
        margin-bottom: 50px;
    }
    .movie-list-wrapper .menu-list {
        -webkit-column-gap: 30px;
           -moz-column-gap: 30px;
                column-gap: 30px;
        height: 300px;
    }
    .movie-item:hover .movie-item-img {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        margin: 0 0px;
        opacity: 0.6;
    }
    .movie-list-wrapper #isari {
        font-size: 120px;
        width: 100px;
        top: 100px;
        right: 0px;
    }
}


.film-container {
    height: 100px;
}

.film-wrapper {
    position: absolute;
    top: 100px;
    left: 100px;
}

.film {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
}

.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}

img {
    width: 600px;
}

img:hover {
    opacity: 0.8;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.image:hover .tick {
    opacity: 1;
}

.tick {
    position: absolute;
    color: white;
    left: 280px;
    top: 140px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.tick i {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 0.7;
    font-size: 60px;
}

.tick i:hover {
    opacity: 1;
}

.title h1 {
    color: white;
    margin-bottom: 30px;
}

.title p {
    color: white;
    width: 600px;
}

.bottom {
    color: white;
    margin-bottom: 100px;
}

.duration, .type, .autor, .premiere {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.duration, .type, .autor, .premiere, p {
    gap: 10px;
}

/*! scrollball */
/*! scrollball */
/*! scrollball */
/*! scrollball */

html::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(110, 110, 110);
}

/*! navbar */
/*! navbar */
/*! navbar */
/*! navbar */

.navbar {
    height: 85px;
    background-color: #021BA7;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 50px; /*  x და y */
}

.logo-wrapper {

}

.navbar-img {
    width: 150px;
    margin-top: 1px;
}

.menu-container .active,
.menu-container a:hover  {
    border-bottom: 2px solid transparent;
    border-color: white;
    border-radius: 5px;
    padding-bottom: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;   /* სიის წერტილების დამალვა */
    gap: 30px;  /* სიტყვებს შორის დაცილება */
}

.menu-list-item {

}

.menu-list-item-main a {
    text-decoration: none;
    font-weight: bold;
    color: azure;
}

.menu-list-item-main a:hover {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.menu-list-item a {
    text-decoration: none;
    color: rgb(230, 226, 226);
}

.menu-list-item a:hover {
    font-weight: bold;
}

.profile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
}

.profile-icon {
    width: 5px;
}

.profile-icon a {
}

.profile-icon img {
    width: 20px;
    background: 0px solid white;
    padding: 5px;
    background: white;
    border-radius: 10px;
    margin-left: 10px;
}

.profile-listing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.profile-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;   /* სიის წერტილების დამალვა */
    gap: 30px;  /* სიტყვებს შორის დაცილება */
}

.profile-list-item {
    text-decoration: none;
    color: rgb(230, 226, 226);
}

.profile-list a {
    text-decoration: none;
    color: rgb(230, 226, 226);
}

.profile-list-item a {
    text-decoration: none;
    font-weight: bold;
    color: azure;
}

.profile-list-item a:hover {
    font-weight: bold;
    color: rgb(230, 226, 226);
}

.profile-list-item i {
    display: none;
}

/*! drop-down */
/*! drop-down */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    text-decoration: none;
    font-weight: bold;
    color: azure;
    background-color: #021BA7;
    /* color: white; */
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.dropbtn:hover {
    background-color: #2980b9;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    pointer-events: auto;
    -webkit-animation: transform 0.3s ease;
            animation: transform 0.3s ease;
}

@-webkit-keyframes transform {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes transform {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #021BA7;
}

/*! sidebar */
/*! sidebar */

.sidebar {
    background-color: black;
    color: white;
    height: 100%;
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    row-gap: 30px; /* იკონები x წრფეზეა და ამიტომ row */
    position: fixed; 
    top: 85px;
}

.sidebar i {
    color: white;
    font-size: 20px;
}

.sidebar i:hover {
    color: rgb(183, 184, 184);
}
/* ! films */
/* ! films */
/* ! films */
/* ! films */


/* ! footer */
/* ! footer */
/* ! footer */
/* ! footer */

footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #021BA7;
    margin-bottom: 0;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 200px;
}

.footer-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #021BA7;
    height: 200px;
}

.footer-container h3 {
    color: rgb(205, 205, 205);
    cursor: pointer;
    margin-top: 10px;
}

.footer-left a {
    color: rgb(205, 205, 205);
    text-decoration: none;
}

.footer-left a:visited {
    color: rgb(205, 205, 205);
    text-decoration: none;
}

.footer-left a:hover {
    color: azure;
    text-decoration: none;
}

.footer-middle a {
    color: rgb(205, 205, 205);
    text-decoration: none;
}

.footer-middle a:visited {
    color: rgb(205, 205, 205);
    text-decoration: none;
}

.footer-middle a:hover {
    color: azure;
    text-decoration: none;
}

.footer-right a {
    color: rgb(205, 205, 205);
    text-decoration: none;
}

.footer-right a:visited {
    color: rgb(205, 205, 205);
    text-decoration: none;
}

.footer-right a:hover {
    color: azure;
    text-decoration: none;
}

.footer-container h3:hover {
    color: azure;
}

.footer-container p {
    color: rgb(138, 138, 138);
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.footer-container p:hover {
    color: rgb(221, 220, 220);
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.footer-left::first-letter {
    color: #657dff;
    font-size: 25px;
}

.footer-middle {
    padding: 10px;
}

.footer-right {
    
}

.footer-copy-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-copy-wrapper p {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: azure;
    /* font-family: 'Anton', sans-serif; */
}

.footer-line {
    width: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid rgb(138, 138, 138);
    height: 0px;
}